body {
  text-align: center;
  background-color: #2f333d;
  color: white;
  min-height: 100%;
}
#root, .App, .App > * {
  height: 100%;
}
  img {
  display: block;
}
.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.item {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background-color: gray;
}

.item:hover .overlay {
  opacity: 6;
  bottom: 0;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round-loader {
  border: 16px solid #272c36;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}